<html>
<head>
	<!-- core -->
	<script language="JavaScript" type="text/javascript" src="../library/core/LibScormException.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/core/LMS.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/core/CMIBag.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/core/InterScoSeq.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/core/Decorators.js"></script>

	<!-- multipage -->
	<script language="JavaScript" type="text/javascript" src="../library/multipage/XMLHttpRequest.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/multipage/swfobject.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/multipage/Nav.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/multipage/Decorators.js"></script>
	
	<!-- template -->
	<script language="JavaScript" type="text/javascript" src="../library/template/DebugConsole.js"></script>
	<script language="JavaScript" type="text/javascript" src="configure.js"></script>
	<script language="JavaScript" type="text/javascript" src="../library/template/Boilerplate.js"></script>

	<link rel="stylesheet" type="text/css" href="screen.css" />
</head>
<body onload="boilerplate_load();" onunload="boilerplate_unload();">
	<!-- divs for boilerplate -->
	<div id="nav"></div>
	<div id="debug"></div>
	<div id="content"></div>
</body>
</html>
